#Global config
VERBOSE=0
TRACKING_EVENT=0
SLEEP=0
#default, random, revenge, friend, userId
#ATTACK_TARGET=random
# shield or coin
#ATTACK_PREFER=shield
AUTO_BET=true
MAX_AUTO_BET=3
RAID_AUTO_BET=30000000
RAID_BET_SWITCH=30
ATTACK_BET_SWITCH=16
ATTACK_RAID_GAP=5
PRIORITY_UPGRADE=Ship
#update below information with your account
#USER_ID=xxx
#FB_TOKEN=xxx
#DEVICE_ID=xxx
#DEVICE_CHANGE=xxx

